/* Search */
.input-group {
    position: relative;
}
  
.input-group .icon-input{
    position: absolute;
    left: 15px;
    top: 16px;
    color: #008FFF;
}

input[type=text] { 
        width: 100%; 
        padding: 5px 40px; 
        margin: 8px 0; 
        display: inline-block; 
        box-sizing: border-box; 
}
/* End Search */

/* Chart */
#bar-charts {
    height: 400px; 
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
/* End Chart */

@media only screen and (max-width: 767px) {
    .d-none-menu {
        display: none;
    }

    .mt-5-custom {
        margin-top: 1.25rem;
    }
}

.text-xs-custom {
    font-size: 70%;
}

.text-2xs-custom {
    font-size: 60%;
}

.text-3xs-custom {
    font-size: 50%;
}

.text-blue-download-csv {
    color: #008FFF;
}

/* Customize grid-col-3 */
.grid-cols-2-custom {
    grid-template-columns: repeat(2, minmax(0, 0.1fr));
}

.hide-scrollbar {
    overflow: hidden;
}

@media only screen and (max-width: 1279px) {
    .space-card-bottom-custom{
        margin-right: 500px;
    }
}